.blockquote{
    font-family: $font2;
    font-style: italic;
}

.BusinessScript{
    font-family: $font2;
    font-size : 1.15rem;
    font-weight: 500;
}

.forWho{
    background-color: #86b6b1;
    border-radius: 4px;
}

h2{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.bullet-logo{
    padding-bottom: 15px;
    margin: auto;
}



@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
.green-bottom-section {
    padding-top: 40px;
    width: 45.8%;
}
.white-bottom-section{
    margin-top: -580px;
    width: 54.2%;

    display: flex;
    flex-direction: column;

}

h2{
   margin-top: 40px;
   padding-top: 40px;
   padding-bottom: 15px;
  
}

}

@media only screen and (min-width: 1025px) {
    .green-bottom-section {
        width: 45.8%;
    }
    .white-bottom-section{
        width: 54.2%;
    
        
    }

}
  
  // Media queries pour les écrans de bureau de grande taille (largeur minimale de 1280px)
  @media only screen and (min-width: 1280px) {
    .blockquote{
        margin-top: 80px;
    } 
    .green-bottom-section {
        width: 40%;
    }
    .forWho{
        font-size: 1.5rem;
        border-radius: 6px;

    }
    .white-bottom-section{
        width: 60%;
    display: flex;
    flex-wrap: wrap;
        
    } 

.service-offers{
    width: 50%;
    margin-top: 40px ;
}

.title-services{
    font-size: 1.6rem;
}

.web-services{
    padding: 2%;
    font-size: 1.5rem;
}

}
  