 header{
 width: 100%;
 height: 100px;
 background-color: #9fdad3;
 position : fixed;
 }

.navigation{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav{
  cursor: pointer;
  padding: 1rem;
  color: $color1;
}

 .hamburger-menu{
 position: absolute;
 margin-top:70px;
 left: 0;
 right: 0;
 transform: translateX(40px);
 padding-left: 25px;
 padding-top: 25px;
 padding-bottom: 25px;
 background-color: #445d5a;
 width: 100%;
 line-height: 80px;
 color: $color2;

 }
 .bg{
    border-top: #5c7f7b solid 7px;
    background-color: #7daca6;
    color: $color1;
    margin-left: -25px;
    padding-left: 49px;
 }

 li:hover {
  opacity: 0.6;  
  }
.portfolio-arrow{
  margin-top: 0.1rem;
  margin-left: 100px;
  transform: rotate(-90deg);
}
.openPortfolio-arrow{
  margin-top: 2.1rem;
  margin-left: 50px;
  transform: rotate(0deg);
}

.bullet-point{
  margin-right: 2rem;
}




    // padding-right: 6rem;
    .nav-projects {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      padding: 0 40px;
      width: 300px;
      transition: .3s ;
      perspective: 500px;

    
    
    &:hover  {

      visibility: visible;
      opacity: 1;

    
    }
  }

    .mobileNav-projects {
        display: block;
        opacity: 1;
        padding: 0 40px;
        width: 300px;
  
      
      }

       // Media query pour les tablettes en mode portrait (largeur minimale de 768px)
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  nav{
    width: 54.2%;
  }
  
  .nav-active {
    color: #5c7f7b;
  }
} 

// Media queries pour les tablettes (largeur maximale de 1024px)
@media only screen and (max-width: 1024px) {
  // Placez vos styles pour les tablettes ici
}

// Media queries pour les écrans de bureau de taille moyenne (largeur minimale de 1025px)
@media only screen and (min-width: 1025px) {
  // Placez vos styles pour les écrans de bureau de taille moyenne ici
}

// Media queries pour les écrans de bureau de grande taille (largeur minimale de 1280px)
@media only screen and (min-width: 1280px) {
  // Placez vos styles pour les écrans de bureau de grande taille ici
}
