$color1: #0a2f2a;
$color2: #9fdad3;
$color3: #7daca6;

$font1: 'Segoe UI', sans-serif;
$font2: 'Segoe UI Semilight', sans-serif;

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    background-image: url("/assets/green_mobile_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 0 0;
    height: 100%;
    width: 100%;
    display: table;
    font-family: $font1;
  }

  body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    display: table;
    position: relative;    
   }

   main{
    margin-top: 100px;
   }
 
  
//   main {
//     position: relative;
//     background-image: url("/green_mobile_background.png");
//     background-repeat: no-repeat;
//    background-size: cover;
//    background-position: center;
//    background-attachment: fixed;
//    height: 100%;
  
//   }
  
  /* navMenu{
    width: 20%;
    
  }
  
  */
  // Media query pour les tablettes en mode portrait (largeur minimale de 768px)
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  :root{
    background-image: url("/assets/green_tablet_background.png");
    background-size: contain;
    background-position: left;

  }
    } 
  
  // Media queries pour les tablettes (largeur maximale de 1024px)
@media only screen and (max-width: 1024px) {
    // Placez vos styles pour les tablettes ici
  }
  
  // Media queries pour les écrans de bureau de taille moyenne (largeur minimale de 1025px)
  @media only screen and (min-width: 1025px) {
    :root{
      background-image: url("/assets/green_desktop_background.png");
      background-size: contain;
      background-position: left;
  
  }
}
  // Media queries pour les écrans de bureau de grande taille (largeur minimale de 1280px)
  @media only screen and (min-width: 1280px) {
    :root{
      background-image: url("/assets/green_desktop_background.png");
      background-size: 40% 100%;
      background-position: left;
  
  } }
 
  

// .sub-items{
//     padding: 5px 0px;
// }